[submodule "submodules/TRELLIS"]
	path = submodules/TRELLIS
	url = https://github.com/microsoft/TRELLIS.git
[submodule "submodules/sam2"]
	path = submodules/sam2
	url = https://github.com/facebookresearch/projectaria_tools.git
[submodule "submodules/projectaria_tools"]
	path = submodules/projectaria_tools
	url = https://github.com/facebookresearch/projectaria_tools.git
